body {margin: 0;}

div {
  width: 100px;
  height: 50px;
  position: absolute;
}

#box1 {
  background: pink;
  top: 10px;
  left: 10px;
  z-index: 3;
  overflow: scroll;
}

#box2 {
  background: orange;
  top: 30px;
  left: 30px;
  z-index: 2;
}

#box3 {
  background: blue;
  top: 50px;
  left: 50px;
  z-index: 1;
}